In [3]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("n Square root of DataFrame\n",info.apply(np.sqrt))
print("n sum of each Column:\n",info.apply(np.sum,axis=0))
print("n sum of each row:\n", info.apply(np.sum,axis=1))

DataFrame.apply function:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9
n Square root of DataFrame
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0
n sum of each Column:
 S    12
R    36
dtype: int64
n sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [3]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]])
col=['X','Y','Z']
print("Original DataFrame:\n",info)
print("\nMinimum & Maximum of each column:\n")
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
d2['Age']=[20,18]
column=['EMP','ID']
print("\n",d2)
d=d2.assign(sex=['Male','Male'])
print(d)

Original DataFrame:
    0  1  2
0  2  4  6
1  1  3  5
2  5  8  7

Minimum & Maximum of each column:

     0  1  2
min  1  3  5
max  5  8  7

      0   1  Age
0  Sai  88   20
1  Poo  70   18
     0   1  Age   sex
0  Sai  88   20  Male
1  Poo  70   18  Male

In [4]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
info3=info.sort_values(by='col3')
print(info2)
print(info3)

       col3      col4
3 -1.094736 -0.249737
2  0.351527 -0.281753
0 -1.037146 -0.295872
4  0.854518  0.774746
1  0.785183 -1.354725
       col3      col4
0 -1.037146 -0.295872
1  0.785183 -1.354725
2  0.351527 -0.281753
3 -1.094736 -0.249737
4  0.854518  0.774746
       col3      col4
3 -1.094736 -0.249737
0 -1.037146 -0.295872
2  0.351527 -0.281753
1  0.785183 -1.354725
4  0.854518  0.774746

In [10]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3],'Name':['Sai','Bala','Kar'],'sub':['sub1','sub2','sub3']})
right=pd.DataFrame({'id':[1,2,3],'Name':['A','B','C'],'sub':['sub4','sub5','sub6']})
print(pd.merge(left,right,on="id"))

   id Name_x sub_x Name_y sub_y
0   1    Sai  sub1      A  sub4
1   2   Bala  sub2      B  sub5
2   3    Kar  sub3      C  sub6