In [4]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [25]:
import pandas as pd
emp=pd.Series(['Dharshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n Series to Data Frame:\n")
print(result)
print("\n Extracting one Column:\n")
print(result['Emp'])
print("\n Adding new Columns:\n")
result['ID']=pd.Series([80,90,28,56,70])
result['Age']=pd.Series([28,32,47,52,61])
print(result)
print("\nDeleting new Column")
del result['Age']
print(result)
print("\n Extracting the Second row:\n")
print(result.loc[1])
print("Slice rows:\n",result[1:4])
d2=pd.DataFrame([['Vicky',100],['Rishid',110]],columns=['EMP','ID'])
print("\n Deleting particular row:\n",result.drop(2))

 Series to Data Frame:

         Emp  ID
0   Dharshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

 Extracting one Column:

0     Dharshan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

 Adding new Columns:

         Emp  ID  Age
0   Dharshan  80   28
1     Sudeep  90   32
2       Siva  28   47
3       Yash  56   52
4  Keerthana  70   61

Deleting new Column
         Emp  ID
0   Dharshan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  70

 Extracting the Second row:

Emp    Sudeep
ID         90
Name: 1, dtype: object
Slice rows:
       Emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

 Deleting particular row:
          Emp  ID
0   Dharshan  80
1     Sudeep  90
3       Yash  56
4  Keerthana  70